.orphan-header {
  margin-bottom: 24px;
}

.body {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.not-orphan-nav {
  margin-top: 16px;
}
