.activatable:hover {
  opacity: var(--opacity-medium);
}
.activatable:active {
  transform: scale(var(--scale));
}
.activatable:disabled {
  opacity: var(--opacity-small);
  pointer-events: none;
}

.link {
  color: var(--primary);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.input::placeholder {
  opacity: var(--opacity-small);
  color: inherit;
}

.button {
  composes: activatable;
  font-weight: 500;
  padding: 8px 32px;
  background-color: rgb(var(--surface));
  border-radius: var(--rounded-full);
  transition: opacity var(--transition-length);
}
.loading {
  position: relative;
}
.with-icon {
  display: flex;
  gap: 4px;
}
.small {
  padding: 4px 16px;
}

.pfp {
  border-radius: var(--rounded-full);
}
