.form-title {
  font-size: 2rem;
}
.text {
  max-width: 60ch;
  color: rgb(var(--foreground-variant));
}

.activatable:hover {
  opacity: var(--opacity-medium);
}
.activatable:active {
  transform: scale(var(--scale));
}
.activatable:disabled {
  opacity: var(--opacity-small);
  pointer-events: none;
}

.link {
  color: var(--primary);
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}

.input::placeholder {
  opacity: var(--opacity-small);
  color: inherit;
}

.button {
  composes: activatable;
  font-weight: 500;
  padding: 8px 32px;
  background-color: rgb(var(--surface));
  border-radius: var(--rounded-full);
  transition: opacity var(--transition-length);
}
.loading {
  position: relative;
}
.with-icon {
  display: flex;
  gap: 4px;
}
.small {
  padding: 4px 16px;
}
.error {
  background-color: rgb(var(--error));
  color: rgb(var(--on-error));
}

.pfp {
  border-radius: var(--rounded-full);
}

.small-nav {
  display: flex;
  gap: 8px;
}
