:root {
  --primary: 255 177 192;
  --on-primary: 0 0 0;
  --background: 79 52 57;
  --on-background: 255 255 255;
  --rounded-small: 4px;
  --rounded-medium: 24px;
  --rounded-full: 9999px;
  --opacity-small: 0.5;
  --opacity-medium: 0.8;
  --scale: 0.95;
  --transition-length: 200ms;
}

html {
  color-scheme: dark;
  accent-color: rgb(var(--primary));
}

body {
  /* prefer Ubuntu */
  font-family: Ubuntu, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(var(--background));
  color: rgb(var(--on-background));

  margin: 32px auto;
  padding: 0 16px;
  max-width: 700px;
}
