.buttons {
  margin-top: 384px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.voice-chats {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  position: absolute;
  bottom: -64px;
  left: 0;
  margin: 0 10%;
  width: 80%;
}

.voice-chat {
  background-color: rgb(var(--surface));
  padding: 24px;
  border-radius: var(--rounded-medium);
}

.voice-chat-title {
  font-size: 2.5rem;
}

.voice-chat-header {
  display: flex;
  gap: 128px;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 4px;
  max-width: 256px;
}

.level {
  font-style: italic;
  margin-left: 4px;
  opacity: 0.5;
}

.voice-chat-members,
.tag {
  width: fit-content;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-small);
  background-color: rgb(var(--surface-high));
  color: rgb(var(--foreground-variant));
}
